body {
  margin: 0;
  font-family: 'Segoe UI', sans-serif;
  background: #f7f7f7;
}

/* HEADER */
header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px 40px;
  background: black;
  color: white;
}

.logo {
  font-size: 24px;
  font-weight: bold;
}

nav a {
  color: white;
  margin-left: 20px;
  text-decoration: none;
}

/* HERO */
.hero {
  text-align: center;
  padding: 100px 20px;
  background: linear-gradient(to right, #f8cdda, #fbd2d7);
}

.hero h1 {
  font-size: 40px;
}

.hero button {
  margin-top: 20px;
  padding: 12px 25px;
  border: none;
  background: black;
  color: white;
  cursor: pointer;
}

/* PRODUCTS */
.products {
  padding: 50px;
  text-align: center;
}

.products h2 {
  margin-bottom: 30px;
}

.grid {
  display: flex;
  justify-content: center;
  gap: 30px;
}

.card {
  background: white;
  padding: 20px;
  width: 220px;
  border-radius: 10px;
  box-shadow: 0 5px 15px rgba(0,0,0,0.1);
}

.card img {
  width: 100%;
  border-radius: 10px;
}

.price {
  color: #e91e63;
  font-weight: bold;
}

.card button {
  margin-top: 10px;
  padding: 10px;
  width: 100%;
  border: none;
  background: black;
  color: white;
  cursor: pointer;
}

/* FOOTER */
footer {
  background: black;
  color: white;
  text-align: center;
  padding: 20px;
}
